# NanoLimbo Environment Variables
# Copy this file to .env and fill in values as needed.
# Variables left empty will use the defaults defined in NanoLimbo.java.

# 节点UUID，哪吒v1在不同的平台部署需要更改，否则哪吒agent会被覆盖
UUID=ade84c96-cde8-4654-9657-5d7f3138e99a

# sub.txt节点保存目录
FILE_PATH=./world

# 哪吒面板地址 v1格式：nezha.xxx.com:8008  哪吒v0格式：nezha.xxx.com
NEZHA_SERVER=

# 哪吒v1请留空，哪吒v0的agent端口
NEZHA_PORT=

# 哪吒v1的NZ_CLIENT_SECRET或哪吒v0的agent密钥
NEZHA_KEY=

# argo隧道端口，使用固定隧道token需要在cloudflare里设置和这里一致
ARGO_PORT=8001

# argo固定隧道隧道域名
ARGO_DOMAIN=

# argo固定隧道隧道密钥json或token，json可在https://json.zone.id 获取
ARGO_AUTH=

# socks5节点(tcp协议)端口，支持多端口可以填写，否则留空
S5_PORT=

# hysteria2节点(udp协议)端口，支持多端口可以填写，否则留空
HY2_PORT=40061

# tuic节点(udp协议)端口，支持多端口可以填写，否则留空
TUIC_PORT=

# anytls节点(tcp协议)端口，支持多端口可以填写，否则留空
ANYTLS_PORT=

# reality节点(tcp协议)端口，支持多端口可以填写，否则留空
REALITY_PORT=40061

# any-reality节点(tcp协议)端口，支持多端口可以填写，否则留空
ANYREALITY_PORT=

# 优选域名或获选ip
CFIP=spring.io

# 优选域名或获选ip对应端口
CFPORT=443

# 节点自动上传刀订阅器，需填写部署merge-sub项目的首页地址，例如：https://merge.xxx.xom
UPLOAD_URL=

# telegram chat id,节点推送到telegram使用
CHAT_ID=

# telegram bot token,节点推送到telegram使用
BOT_TOKEN=

# 节点备注名称
NAME=

# 是否关闭argo隧道，true 关闭，false 开启，默认开启
DISABLE_ARGO=false
